@include mediaXL2{
    .hamburger-menu{
        opacity: 1;
        visibility: visible;
    }

    .navbar__container{
        position: absolute;
        right: -100%;
        top: 100%;
        height: 100vh;
        min-height: 100%;
        width: 30rem;
        background: #131313;
        flex-direction: column;
        justify-content: space-start;
        transition: right .6s;
    }

    .change .navbar__container{
        right: 0;
    }

    .navbar__links{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .navbar__item{
        margin: 1rem 0;
        position: static;
        text-align: center;
    }

    .navbar__user{
        border-left: none;
        border-top: .1rem solid #222;
    }

    .dropdown{
        bottom: 5rem;
        position: static;
        display: none;
        margin: 1rem 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: none;
        border-bottom: none;
        background: none;
    }

    .navbar__item:hover .dropdown{
        display: block;
    }

    .navbar__item-sub{
        margin: 3rem 0;
        position: relative;
        text-align: center;
    }

    .dropdown-sub{
        bottom: 2rem;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        border-bottom: none;
        background: none;
    }

    .navbar__item-sub:hover .dropdown-sub{
        display: block;
    }

    .navbar__user{
        height: 30%;
        flex-direction: column;
        justify-content: start;
    }

    .navbar__account{
        margin: 2rem 0;
    }
}

// XL 1150px
@include mediaXL{
    html{
        font-size: 61%;
    }

    .main{
        .main__content{
            left: 9%;

            #h1{
                font-size: 6rem;
            }

            #h2{
                font-size: 6rem;
            }
        }

        .main__content-sub{
            right: 2%;

            #sub-h1{
                font-size: 2.2rem;
            }

            #sub-h2{
                font-size: 2rem;
            }

            .btn-buy{
                font-size: 1.8rem;
                margin-left: 11rem;
            }
        }
    }


    .contact {

        .contact__form {
            
            h1{
                font-size: 2.5rem;
            }

            .card{
                h2{
                    font-size: 2.8rem;
                }
            }
        }
    }
    // Section head
    .head{
        
        .head__container {
            img{
                display: block;
                width: 100%;
                height: 100%;
            }

            .head__info{
                width: 100%;
                height: 80vh;

                .head__details {
                    height: 40vh;
                    border-bottom: 2px dotted $color-primary;
                    margin-bottom: .7rem;
    
                    h3{
                        padding-bottom: 2rem;
                    }
                }
    
    
                .head__pay {
                    .head__add{
                        top: 20%;
                        left: 60%;
                        display: flex;
                        i{
                            padding-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    // Section play
    .play{

        &__head {
            h2{
                font-size: 2rem;
            }
        }

        .play__main {

            .play__box{

                .box__image-1 {
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 25rem;
                    }
                }

                .box__image-2{
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 25rem;
                    }
                }
            }
        }
    }
}

// 950px
@include mediaLg {
    html{
        font-size: 57%;
    }


    .main{
        .main__content{
            left: 9%;

            #h3{
                font-size: 1.8rem;
            }

            #h1{
                font-size: 4rem;
            }

            #h2{
                font-size: 4rem;
            }
        }

        .main__content-sub{
            right: 2%;

            #sub-h1{
                font-size: 1.8rem;
            }

            #sub-h2{
                font-size: 1.5rem;
            }

            .btn-buy{
                font-size: 1.7rem;
                margin-left: 5rem;
                padding: 1rem 3rem;
            }
        }

        .main__content-2{
            top: 4%;

            #sup-h2{
                font-size: 1.8rem;
            }

            #sup-h1{
                font-size: 6rem;
            }

            #sup-h3{
                font-size: 1.8rem;
            }
        }
    }



    .footer {

        .footer__copyright{
            font-size: 1.3rem;
        }

        .footer__socials {

            h4{
                font-size: 1.7rem;
            }

            i{
                font-size: 2.4rem;
            }
        }

        .footer__news{
            padding-top: .5rem;
            margin-right: 3rem;
            input[type="text"] {
                padding: 1rem 1.5rem;
            }

            input[type="button"] {
                padding: .4rem 1rem;
                font-size: 1.4rem;
            }
        }
    }

    .products {

        .products__heading {
            .heading__text{
    
                .heading__link{
                    font-size: 2.5rem;
                }
    
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }


    .contact {

        .contact__form {
            height: 52rem;
            h1{
                font-size: 2.2rem;
            }

            .card{
                height: 45rem;
                top: -1.5rem;
                h2{
                    margin-bottom: 3rem;
                    font-size: 2.5rem;
                }
            }
        }
    }

    // Section head
    .head{
        
        .head__container {
            img{
                display: block;
                width: 100%;
                height: 100%;
            }

            .head__info{
                width: 100%;
                height: 80vh;

                .head__details {
                    height: 40vh;
                    border-bottom: 2px dotted $color-primary;
                    margin-bottom: .7rem;

                    h1{
                        font-size: 2.5rem;
                    }
    
                    h3{
                        padding-bottom: 2rem;
                        font-size: 1.8rem;
                    }

                    p{
                        font-size: 1.4rem;
                    }
                }
    
    
                .head__pay {
                    span{
                        font-size: 2rem;
                    }

                    p{
                        font-size: 1.3rem;
                    }

                    .head__add{
                        top: 20%;
                        left: 50%;
                        display: block;

                        i{
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

     // Section play
     .play{

        .play__head {
            h2{
                font-size: 2rem;
            }
        }

        .play__main {

            .play__box{

                .box__image-1 {
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 26rem;
                        margin-left: 27rem;
                        margin-top: 2rem;

                        h2{
                            font-size: 2.2rem;
                        }

                        p{
                            font-size: 1.5rem;
                        }
                    }
                }

                .box__image-2{
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 25rem;
                        margin-left: 27rem;

                        h2{
                            font-size: 2.2rem;
                        }

                        p{
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    // section spec
    .spec {

        h1{
            font-size: 2.5rem;
        }

        .spec__info{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            
    
            .spec__name{
                height: 100%;
                padding-bottom: 1rem;
            }
        }
    }
}

@include mediaMd {
    html{
        font-size: 50%;
    }

    .navbar__container{
        width: 100vw;
    }

    .navbar__links{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar__item{
        margin: 1rem 0;
        position: static;
        text-align: center;
    }

    .navbar__user{
        border-left: none;
        border-top: .1rem solid #222;
    }

    .main{

        .main__overlay {
            width: 100%;
            height: 100%;

            h1{
                font-size: 2rem;
            }

            p{
                font-size: 1.7rem;
            }

            .btn-more {
                font-size: 2rem;
                top: 80%;
                left: 26%;
            }
        }
    }

    .footer {
        height: 100%;
        .footer__content {
            display: block;
            text-align: center;
            padding: 1rem 0;

            .footer__copyright{
                font-size: 1rem;
            }

            .footer__socials {
                
                h4{
                    font-size: 1.3rem;
                }
            }
        }
    }

    .contact {
        .contact__info{

            .contact__details {

                h3{
                    font-size: 1.7rem;
                }
    
                p{
                    font-size: 1.7rem;
                }
    
                span{
                    font-size: 1.7rem;
                }
            }

            .contact__form {
                height: 40rem;
                width: 42rem;
                h1{
                    font-size: 1.7rem;
                }
    
                .card{
                    height: 35rem;
                    width: 40rem;
                    top: -1.5rem;
                    left: -3%;
                    margin: 3.5rem auto;
                    h2{
                        margin-bottom: 0;
                        font-size: 1.5rem;
                    }


                    input[type="text"]{
                        width: 80%;
                        padding: 1.5rem 2rem;
                        margin-bottom: 1rem;
                        border-radius: 5rem;
                        outline: none;
                        border: 1px solid #999 ;
                    }

                        
                    .form__message {
                        width: 80%;
                        height: 8rem;
                        padding: 1rem 2rem;
                        outline: none;
                        border: 1px solid #999;
                        margin-bottom: 1.5rem;
                    }

                    input[type="button"] {
                        border: none;
                        outline: none;
                        width: 80%;
                        padding: 1.5rem 0;
                        border-radius: 5rem;
                        background-color: $color-primary;
                        text-transform: uppercase;
                        color: $white;
                        font-size: 1.5rem;
                    }
                }
            }
        }
       
    }

    .about{

        .about__heading{
            height: 15vh;

            h2{
                padding-top: 4rem;
                font-size: 2.2rem;
            }
        }
    }


    
    // Section head
    .head{
        
        .head__container {
            img{
                display: block;
                width: 100%;
                height: 100%;
            }

            .head__info{
                width: 100%;
                height: 80vh;

                .head__details {
                    height: 40vh;
                    border-bottom: 2px dotted $color-primary;
                    margin-bottom: .7rem;

                    h1{
                        font-size: 2.4rem;
                    }
    
                    h3{
                        padding-bottom: 2rem;
                        font-size: 1.7rem;
                    }

                    p{
                        font-size: 1.4rem;
                    }
                }
    
    
                .head__pay {

                    .head__add{
                        top: 50%;
                        left: 50%;
                        display: block;

                        i{
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }

    
     // Section play
     .play{

        .play__head {
            h2{
                font-size: 2rem;
            }
        }

        .play__main {

            .play__box{

                .box__image-1 {
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 18rem;
                        margin-left: 18rem;
                        margin-top: 2rem;

                        h2{
                            font-size: 1.7rem;
                        }

                        p{
                            font-size: 1.2rem;
                        }
                    }
                }

                .box__image-2{
                    align-items: center;
                    justify-content: center;

                    .box__text{
                        margin-right: 18rem;
                        margin-left: 18rem;

                        h2{
                            font-size: 1.7rem;
                        }

                        p{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    // section spec
    .spec {

        h1{
            font-size: 2.2rem;
        }

        .spec__info{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            
    
            .spec__name{
                height: 100%;
                padding-bottom: 1rem;
            }
        }
    }

    // section faq
    .faq{

        h1{
            font-size: 2.5rem;
        }

        .faq__container {
            padding-top: 6rem;

            .faq__box {
                height: 19rem;
                border-bottom: 8px solid $color-primary;
                
                h2{
                    font-size: 1.6rem;
                }

                p{
                    font-size: 1.4rem;
                }
            }
        }
    }

}