//Colors
$color-primary: #44d62c;
$font-primary: #777;
$font-secondary: #333;
$font-tertiary: #999;
$white: rgb(255, 255, 255);


// hidden checkbox
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.lg {
    width: 100%;
}

.animation-left {
    animation: fromLeft 1s ease-out;
}

.animation-right {
    animation: fromRight 1s ease-out;
}

.animation-pulse {
    animation: pulse 2s 3;
}

// images for main__slider

.main__slider:first-child{
    background: url(../img/slide1.jpg) no-repeat center center/cover;
}

.main__slider:nth-child(2){
    background: url(../img/slide2.jpg) no-repeat center center/cover;
}

// images for products__heading
.products__heading-1{
    background: url(../img/keyboards.png) no-repeat center center/cover;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid $color-primary;
}

.products__heading-2{
    background: url(../img/mouse.png) no-repeat center center/cover;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid $color-primary;
}

.products__heading-3{
    background: url(../img/mousepads.png) no-repeat center center/cover;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid $color-primary;
}

.products__heading-img-1{
    background: url(../img/keyboards.png) no-repeat center center/cover;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid $color-primary;
}

.products__heading-img-2{
    background: url(../img/mouse.png) no-repeat center center/cover;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-bottom: 5px solid $color-primary;
}