//Colors
$color-primary: #44d62c;
$font-primary: #777;
$font-secondary: #333;
$font-tertiary: #999;
$white: rgb(255, 255, 255);


// hidden checkbox
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// .borderBot{
//     color: $white !important;
//     border-bottom: 4px solid $color-primary;
// }


.lg {
    width: 100%;
}

.animation-left {
    animation: fromLeft 1s ease-out;
}

.animation-right {
    animation: fromRight 1s ease-out;
}

.animation-pulse {
    animation: pulse 2s 3;
}

// images for main__slider

.main__slider:first-child{
    background: url(/dist/img/slide1.jpg) no-repeat center center/cover;
}

.main__slider:nth-child(2){
    background: url(/dist/img/slide2.jpg) no-repeat center center/cover;
}
